body {
    background-color: #050407; color: white;
    overflow: hidden;
}

.navbar-custom {
    background-color: #050407;
    border: none !important;
 
}

#fundo {
    background-image: url('/reservas/templates/imagens/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#conteudo-fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: 10%;
    margin-top: -12px;
}

#name {
    font-family: 'great vibes';
    font-size: larger;
    margin-top: 9px;
}