{% extends "base.html" %}
{% load static %}

{% block title %}Recuperar Senha - Sistema de Reservas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="card login-card"> 
        <h3>Recuperação de Senha</h3>
        <p>Digite seu e-mail para receber um link de redefinição de senha.</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" name="email" class="form-control {% if form.email.errors %} is-invalid {% endif %}" id="email" placeholder="Digite seu e-mail">
                {% if form.email.errors %}
                    <div class="text-erro">
                        {% for error in form.email.errors %}
                            <p class="erro">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-custom">Enviar</button>
        </form>

        <div class="links">
            <a href="{% url 'login' %}">Voltar para o Login</a>
        </div>
    </div>
</div>
{% endblock %}
