{% extends "base.html" %}
{% load static %}

{% block title %}Recuperação de Senha - Sistema de Reservas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'login.css' %}"> 
{% endblock %}

{% block content %}
<div class="login-container"> 
    <div class="card login-card"> 
        <h3>Verifique seu e-mail</h3>
        <p>Se este e-mail estiver cadastrado, você receberá um link para redefinir sua senha.</p>

        <a href="{% url 'login' %}" class="btn btn-custom">Voltar ao login</a>
    </div>
</div>
{% endblock %}
