{% autoescape off %}
Olá {{ user.username }},

Você solicitou a redefinição de senha para sua conta no nosso Sistema Life´n Food.

Clique no link abaixo para definir uma nova senha:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Caso você não tenha solicitado essa alteração, ignore este e-mail.

Atenciosamente,  
Equipe Life´n Food
{% endautoescape %}


from django.contrib.auth.tokens import default_token_generator
from django.contrib.auth.models import User
from django.utils.http import urlsafe_base64_encode
from django.utils.encoding import force_bytes
from django.template.loader import render_to_string

user = User.objects.get(email="ana927742@gmail.com")  # e-mail real cadastrado

context = {
    "user": user,
    "protocol": "http",
    "domain": "127.0.0.1:8000",
    "uid": urlsafe_base64_encode(force_bytes(user.pk)),
    "token": default_token_generator.make_token(user),
}

email_body = render_to_string("auth/password_reset_email.html", context)

print(email_body)
