#logo {
    width: 10vh;
}

.navbar-custom {
    margin-bottom: 3%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.infos {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.infos p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.reservas-table {
    width: 100%;
    margin-top: 20px;
}

.reservas-table th, .reservas-table td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.reservas-table th {
    background-color: #f1f1f1;
}

.reservas-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reservas-table tr:hover {
    background-color: #f1f1f1;
}